{% extends 'base.html' %}

{% block content %}
<section class="contact">
    <h2>Contact Information</h2>

    <p><b>Email:</b> calingheidilyn25@gmail.com</p>
    <p><b>Phone:</b> 09772982529</p>
    <p><b>Address:</b> Quezon City</p>
    <p><b>Facebook:</b> 
        <a href="https://web.facebook.com/heidilyn.caling.3" target="_blank" class="optional-link">
            Heidilyn Caling
        </a>
    </p>

    <p><em>Just chat me if you have any questions 😊</em></p>
</section>
{% endblock %}